<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SuppShare - Share Your Supplement Knowledge</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/landing-page.min.css" rel="stylesheet">

</head>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '207145443361049',
            cookie: true,
            xfbml: true,
            version: 'v2.11',
            autoLogAppEvents: true
        });

        FB.AppEvents.logPageView();

    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                console.log(response);
                window.top.location = "/login/facebookid/" + response.authResponse.accessToken;
            } else {
                console.log('not connected');
            }
        });
    }
</script>

<body>

    <div id="fb-root"></div>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#">SuppShare</a>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mb-5">Share your supplement knowledge</h1>
                </div>
                <div class="col-md-12">
                    <div scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer class="footer" style="background-color: #efefef!important">
        <div class="footer_copywrite_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Footer Copwrite Area -->
                        <div class="footer_bottom text-center">
                            <p>Built with <i class="fa fa-heart"></i> by <a href="https://virtuetheory.com">Virtue Theory</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
